@media screen and (max-width: 800px) {
  .left-col, .right-col,
  .home .left-col, .home .right-col {
    float: none;
    width: 100%; }

  .sparkmasterflex-logo {
    width: 65%;
    min-height: 8em;
    margin: 0 auto; }

  .home .sparkmasterflex-logo {
    margin-top: 0; }

  .tag-line {
    font-size: 3em; }

  .horizontal-800 {
    *zoom: 1;
    margin: 1em auto 2em; }
    .horizontal-800:before, .horizontal-800:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .horizontal-800:after {
      clear: both; }
    .horizontal-800 li {
      width: 33%;
      float: left; }

  .widget_archive,
  .widget_categories {
    display: none; }

  .widget_search {
    width: 65%;
    margin: 0 auto;
    text-align: left; } }
@media screen and (max-width: 768px) {
  .portrait-show {
    display: block; }

  .portrait-hide {
    display: none; }

  nav.main ul li {
    width: 25%;
    text-align: center; }
  nav.main ul a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -ms-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto; }
    nav.main ul a.home {
      background-image: url(images/icons/home.png); }
    nav.main ul a.about {
      background-image: url(images/icons/about.png); }
    nav.main ul a.sandbox {
      background-image: url(images/icons/sandbox.png); }
    nav.main ul a.ifkeith {
      background-image: url(images/icons/ifkeith.png); }

  .widget_search {
    width: 80%; } }
@media screen and (max-width: 600px) {
  section, .section {
    width: inherit; }

  .mobile-show {
    display: block; }

  .mobile-hide {
    display: none; }

  .sparkmasterflex-logo,
  .home .horizontal-800.per-75,
  .horizontal-800.per-75 {
    width: 90%; } }
@media screen and (max-width: 450px) {
  .sparkmasterflex-logo {
    width: inherit;
    min-height: 6.5em; }

  .horizontal-800.per-75 {
    width: 75%; }
    .horizontal-800.per-75 li {
      float: none;
      width: 100%; } }
